* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.saveCard {
    border: 1px solid #c0c0c0;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.saveCard a {
    margin-left: 8px;
    background-color: #386fcb;
    color: #f2f2f2;
    letter-spacing: 1.2px;
    border: none;
}

.saveCard a:hover, .saveCard a:focus {
    background-color: #2059bd;
    color: #f2f2f2;
}

.saveCard button {
    background-color: #e83c4c;
    color: #f2f2f2;
    letter-spacing: 1.2px;
    border: none;
}

.saveCard button:hover, .saveCard button:focus {
    background-color: #d8293b;
    color: #f2f2f2;
}


@media only screen and (max-width: 768px) {
    .topInfo {
        flex-direction: column;
    }
}