* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-color: #f1f5fb;
    width: 400px;
    padding: 60px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.jumbotron h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 52px;
}

.jumbotron h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


/* For smaller screens */
@media only screen and (max-width: 906px) {
    .mainContainer {
        flex-direction: column;
    }

    .jumbotron {
        width: 100%;
        flex-direction: row-reverse;
        padding: 40px 20px 20px 20px;
        min-height: auto !important;
    }

    .jumbotron h3 {
        margin-top: 0;
    }
}