* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.resultCard {
    border: 1px solid #c0c0c0;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.resultCard a {
    margin-left: 8px;
    background-color: #386fcb;
    color: #f2f2f2;
    letter-spacing: 1.2px;
    border: none;
}

.resultCard a:hover, .resultCard a:focus {
    background-color: #2059bd;
    color: #f2f2f2;
}

.resultCard button {
    background-color: #00bdc3;
    color: #f2f2f2;
    letter-spacing: 1.2px;
    border: none;
}

.resultCard button:hover, .resultCard button:focus {
    background-color: #00a3a8;
    color: #f2f2f2;
}


@media only screen and (max-width: 768px) {
    .topInfo {
        flex-direction: column;
    }
}
